$avatar-size: 30px;
$card-padding: 18px;
$card-width: 280px;

.container {
  align-items: center;
  background-color: #0d1a2d;
  display: flex;
  min-height: 100vh;
  justify-content: center;
}

.card {
  background-color: #15273f;
  border-radius: 12px;
  box-shadow: 0px 24px 38px 3px rgba(0, 0, 0, 0.14),
    0px 9px 46px 8px rgba(0, 0, 0, 0.12), 0px 11px 15px -7px rgba(0, 0, 0, 0.2);
  color: #8bacd9;
  font-family: "Poppins", sans-serif;
  padding: $card-padding;
  width: $card-width;

  .image {
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    margin-bottom: 12px;
    overflow: hidden;
    position: relative;

    div {
      align-items: center;
      background-color: rgba($color: #00fff8, $alpha: 0.5);
      display: flex;
      height: 100%;
      justify-content: center;
      opacity: 0;
      position: absolute;
      width: 100%;

      &:hover {
        opacity: 1;
      }
    }

    img {
      width: 100%;
    }
  }

  .title {
    color: #ffffff;
    display: block;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 9px;
    text-decoration: none;
    width: fit-content;

    &:hover {
      color: #00fff8;
    }
  }

  .desc {
    font-size: 12px;
    line-height: 20px;
  }

  .info {
    display: flex;
    margin: 12px -12px;

    > div {
      align-items: center;
      display: flex;
      flex: 1;
      padding: 0 12px;
    }

    .currency {
      color: #00fff8;
      font-weight: 600;

      div {
        font-size: 12px;
        line-height: 20px;
        padding-left: 6px;
      }
    }

    .time {
      justify-content: flex-end;

      div {
        font-size: 12px;
        line-height: 20px;
        padding-left: 6px;
      }
    }
  }

  .account {
    align-items: center;
    border-top: 2px solid rgba($color: #ffffff, $alpha: 0.2);
    display: flex;
    padding-top: 12px;

    div {
      font-size: 12px;
      line-height: 20px;
      padding-left: 12px;

      a {
        color: inherit;
        font-size: 12px;
        line-height: 20px;
        text-decoration: none;

        &:hover {
          color: #00fff8;
        }
      }
    }

    .avatar {
      border: 1px solid #ffffff;
      border-radius: 50%;
      height: $avatar-size;
      width: $avatar-size;
    }
  }
}
